<%- include('header') -%>
  <%- include('menu') -%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-8">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Permission</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.username%>
                  </td>
                  <td>
                    <%= user.permission%>
                  </td>
                  <td style="width:30px; white-space: nowrap">
                    <a href="/users/worklist-user/<%= user._id %>">Works</a>
                    <a href="/users/edit-user/<%= user._id %>">Edit</a>
                    <a href="/users/delete-user/<%= user._id %>">Delete</a>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <!--a href="/users/new-user"><button type="button" class="btn btn-primary float-end">Add
            new</button></a-->
        </div>
      </div>
    </div>
    <%- include('footer') -%>